.footer {
    // border: 2px solid red;
    background-color: #0B265A;
    padding: 12rem 0;
    .container {
        max-width: 120rem;
        margin: 0 auto;
    }
    .cootels{
        // border: 2px solid red;
        @include flex(space-between);
    }
    &__coot{
        // border: 2px solid red;
        h3{
            @include fontForTitle(3.2rem,3.9rem, 700);
            color: $third;
            margin-bottom: 1.3rem;
        }
        p{
          @include fontForTitle(1.6rem, 2.8rem, 400);
          color: #D9DBDE;
          margin-bottom: 3.6rem;
        }
        .icon{
            @include flex;
            gap: 3.2rem;
            img{
                // border: 1px solid red;
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }
    &__rooms{
        // border: 2px solid red;
        @include flex(center);
        align-items: start;
        gap: 14.1rem; 
    li:first-child{
        @include fontForTitle(1.6rem, 1.9rem,700);
        color: $third;
        margin-bottom: 2.4rem;
    } 
    a{
        @include fontForTitle(1.6rem, 1.9rem,400);
        color: #D9DBDE;
        margin-bottom: 2.4rem;
    }

    }
}